<div class="login-container">
    <div class="login-input">
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="Usuario" value="" [(ngModel)] = "user" >
        </mat-form-field>
    </div>
    <div class="login-input">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Contraseña" value="" [(ngModel)] = "password">
        </mat-form-field>
    </div>
    <div>
        <button mat-button (click) = "logIn()">Login</button>
    </div>
</div>